body {
	background-color: #000;
	color: azure;
}

#main {
	background-color: #000;
	top:0;
	right:0;
	position: absolute;
}
.round {
	height: 4px;
	width: 4px;
	border-radius: 5px;
	border: 1px solid azure;
	background-color: #eefdfd;
}
.round:hover {
	height: 4px;
	width: 4px;
	border-radius: 5px;
	border: 1px solid white;
	border: 1px solid azure;
	background-color: #eefdfd;
}
.round_mult {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	border: 1px solid azure;
	background-color: #eefdfd;
}
.round_mult:hover {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: #FFCCCC;
}

.round_focus {
	border: 1px solid #6e7777;
	background-color: black;
}

#time {
	text-align: center;
	font-size: 35pt;
	width: 150px;
	position: absolute;
}

.button, .bttn {
	padding-top:5px;
	padding-bottom: 5px;
	margin: 2px;
	width: 60px;
	border-radius: 5px;
	color: white;
	vertical-align:middle;

	text-align: center;
	background-color: darkgrey;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}



.selector{
	width: 250px;
	margin-left: 25px;
}
.monitor {
	height: 50px;
	width: 50px;
}
.test{
	height: 50px;
	width: 50px;
	border-radius: 5px;
	background-color: #66FF33;

}
.test,.monitor,.round,.round_focus,.round_mult,.selector,#main,#time, body {

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}